/* styles.css */

.waiter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .waiter {
    background-color: rgb(241, 87, 87);
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .table-modal {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 80%;
  }
  
  .table {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .selected {
    background-color: lightgreen;
  }
  
  button {
    margin-top: 2rem;
  }
  